.page-cart {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;

  .page-title {
    margin-bottom: 18px;
  }

  .nav-bar-cart {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding-top: 30px;
    z-index: 101;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
    }

    .input-row {
      display: flex;
      align-items: center;

      .text-input {
        flex-grow: 1;
      }

      .icon {
        margin-left: 18px;
      }
    }
  }

  .cart-item-list {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

}

#cart-scan-container {
  top: 0;
  left: 0;
  height: 600px;
  overflow:hidden;
}


#cart-scan-background {
  display: block;
  max-width: 100%;
  //height: 300px;
  margin:-21.875% 0;
  right: 0;
  object-position: 80% 80%;
  filter: brightness(60%);
}

#cart-scan-box {
  position: relative;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 40%;
  width: 60%;
  margin: auto;
}