.thin-line {
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
    transform: scaleY(0.5);
}

.right-thin-line {
    height: 1px;
    width: calc(100% - 25px);
    background-color: #eeeeee;
    transform: scaleY(0.5);
    margin-left: 20px;
}

._blank_80height {
    height: 80px;
    width: 100%;
}

.toast {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 100%;
    color: white;
    font-weight: 800;
    background-color: #1983FF;
    z-index: 150;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
