.page-map {
    .nav-bar-map {
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        padding-top: 30px;
        padding-bottom: 16px;
        z-index: 101;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
        position: fixed;
        top: 0;

        .first-row {
            display: flex;
            margin-bottom: 28px;

            .back-icon {
                margin-right: 8px;
            }

            #page-title {
                flex-grow: 1;
            }
        }

        .input-row {
            display: flex;
            align-items: center;

            .text-input {
                flex-grow: 1;
            }

            .icon {
                margin-left: 18px;
            }
        }
    }

    .map-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 160px;
        padding-bottom: 80px;

        img {
            height: 100%;
        }
    }

    .bottom-nav-bar {
        background-color: #F41C3B;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-nav-bar a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 800;
        cursor: pointer;
    }
}
