.product-block-item {
    width: 156px;
    height: 272px;
    margin-bottom: 40px;
    color: #999;
    position: relative;
    .row{
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
    .rate-row{
        margin-bottom: 18px;
    }

    .price-row{
        position: absolute;
        bottom: 24px;
    }

    .shop-row{
        position: absolute;
        bottom: 4px;
    }

    .img-container{
        img{
            width: 100%;
        }
    }
    .rate-img{
        height: 13px;
        margin-right: 12px;
    }
    .name{
        font-weight: 600;
        color: black;
    }
    .score{
        //color: #F41C3B;
        font-weight: 600;
    }
    .price{
        font-weight: 600;
        color: #F41C3B;
        font-size: 18px;
        margin-right: 12px;
    }
    .origin-price{
        text-decoration: line-through;
    }

}
