.page-product-detail {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .section {
        padding-top: 25px;
        padding-bottom: 40px;
    }

    .section-basic {
        margin-top: 70px;

        .product-img-container {
            text-align: center;
            margin-bottom: 20px;

            img {
                height: 320px;
            }
        }

        .product-name {
            margin-bottom: 12px;
        }

        .product-desc {
            color: #999;
            line-height: 20px;
            margin-bottom: 12px;
        }

        .price {
            color: #F41C3B;
            margin-bottom: 24px;
        }

        .rate-row {
            display: flex;
            color: #999999;
            font-weight: 600;
            align-items: center;

            .rate-img {
                margin-right: 12px;
            }

            .score {
                margin-right: 12px;
            }
        }
    }

    .section-journey {
        .content {
            position: relative;
            padding: 40px 0 40px 0;
            overflow: hidden;

            img {
                position: relative;
                left: 20px;
                height: 457px;
            }

            .invisible-video-entry {
                width: 148px;
                height: 90px;
                border-radius: 8px;
                position: absolute;
                left: 216px;
                top: 395px;
                background-color: #F41C3B;
                opacity: 0;
            }
        }
    }
}
