.common-nav {
  background-color: rgba(white, 0);
}

#scan-detail-background {
  position: fixed;
  width: 600px;
  right: 0;
  object-position: 80% 80%;
  filter: brightness(60%);
}

#scan-detail-box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
}