<div class="bottom-tab" id="bottom-tab">
    <div class="tab-item-container">
        <div class="tab-item" id="tab-item-home">
            <div class="icon icon-home"></div>
            <div class="name">
                Home
            </div>
        </div>
        <div class="tab-item" id="tab-item-shops">
            <div class="icon icon-shops"></div>
            <div class="name">
                Shops
            </div>
        </div>
        <div class="tab-item" id="tab-item-cart">
            <div class="icon icon-cart"></div>
            <div class="name">
                Cart
            </div>
        </div>
        <div class="tab-item" id="tab-item-me">
            <div class="icon icon-me"></div>
            <div class="name">
                Me
            </div>
        </div>
    </div>
</div>
