<div class="page page-ar" id="page-ar">

    <img class="icon back-icon" id="ar-back" src="../resource/back.svg"/>

    <div class="ar-div">
        <img id="ar-image" src="https://i.imgur.com/nj86TQl.png"/>
        <img id="ar-next" src="../resource/arrow-right.svg"/>
    </div>

    <div class="ar-bottom">
        <div id="ar-container" style="white-space:nowrap">
            <div id="ar-category" style="display:inline-block;">
                <img id="ar-product" src="https://i.imgur.com/6K04QLv.png"/>
            </div>
            <h2 id="ar-text" style="display:inline-block; white-space:nowrap; ">
                Turn Right at the third corner
            </h2>
            <div id="ar-turn-div" style="display:inline-block;">
                <img id="ar-turn" src="../resource/turn-right.svg"/>
            </div>
        </div>
    </div>
</div>


