<div class="page page-ar" id="page-ar">
    <div class="nav-bar nav-bar-map padding25" id="nav-bar-map">
        <div class="row first-row">
            <img class="icon back-icon" id="ar-back" src="../resource/back-white.svg"/>
            <img class="icon close-icon" id="ar-close" src="../resource/close-white.svg"/>
        </div>
    </div>

    <div class="ar-div">
        <img id="ar-image" src="https://i.imgur.com/Yke1gNJ.png"/>
    </div>

    <div class="ar-bottom">
        <div id="ar-container">
            <div id="ar-category">
                <img id="ar-product" src="https://i.imgur.com/6K04QLv.png"/>
            </div>
            <h2 id="ar-text">
                Turn Right at the third corner
            </h2>
            <div id="ar-turn-div">
                <img id="ar-turn" src="../resource/turn-right.svg"/>
            </div>
        </div>
    </div>
</div>
