<div class="page page-shop" id="page-cart">
    <div class="nav-bar nav-bar-shop padding25" id="nav-bar-cart">
        <h1 class="title page-title" id="page-title">Cart</h1>
<!--        <div class="fixed-part" id="fixed-part">-->
<!--            <div class="row input-row">-->
<!--                <input class="search-input text-input" id="search-input" placeholder="Milk"/>-->
<!--                <img class="icon search-icon" src="../resource/search.svg"/>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div id="cart-scan-container">
        <img src="https://i.loli.net/2019/12/02/z4MmVBPedKHhkRs.jpg" id="cart-scan-background">
        <div>
            <img src="../resource/scan-box.svg" id="cart-scan-box">
        </div>
    </div>
    <div class="content" id="cart-content">
        </div>
        <div class="section-content cart-item-list" id="cart-item-list">
        </div>
    </div>
</div>
