<div class="page page-cart" id="page-cart">
    <div class="nav-bar nav-bar-cart padding25" id="nav-bar-cart">
        <h1 class="title page-title" id="page-title">Cart</h1>
    </div>
    <div id="cart-scan-container">
        <img src="../resource/scan-box.svg" id="cart-scan-box">
    </div>
    <div class="content" id="cart-content"></div>
    <div class="section-content cart-item-list" id="cart-item-list"></div>
    <div class="pay-tag padding25">
        <div class="total">$123.99</div>
        <div class="pay-btn">Pay</div>
    </div>
</div>
