<div class="page page-me" id="page-member">
    <div class="nav-bar padding25">
        <h1 class="title page-title" id="page-title">Me</h1>
    </div>
    <div class="member-card">
        <div class="up">
            <div class="left">
                <h2 class="title">Basic Member</h2>
                <div class="sub-title">Saved $106 for you</div>
            </div>
            <div class="right">
                <img src="https://i.imgur.com/9DjlGsq.png"/>
            </div>
        </div>
        <div class="down">
            <div class="item">
                <div class="name">Points</div>
                <div class="number">3412</div>
            </div>
            <div class="item">
                <div class="name">Buy</div>
                <div class="number">214</div>
            </div>
            <div class="item">
                <div class="name">Coupon</div>
                <div class="number">10</div>
            </div>
        </div>
    </div>
    <div class="section-privilege padding25">
        <div class="section-header">
            <div class="section-title">My Privilege</div>
            <div class="view-all">view all</div>
        </div>
        <div class="privilege-container">
            <div class="item">
                <div class="icon">
                    <img src="https://i.imgur.com/4F9Qwe2.png"/>
                </div>
                <div class="name">110% Points</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="https://i.imgur.com/z5ImbVU.png"/>
                </div>
                <div class="name">2% Discount</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="https://i.imgur.com/sZSfJOi.png"/>
                </div>
                <div class="name">Birthday</div>
            </div>
        </div>
    </div>
    <div class="setting-list">
        <div class="basic-list-item">
            <div class="name">History</div>
            <img class="gray-arrow" src="https://i.imgur.com/z9zRluf.png">
        </div>
        <div class="right-thin-line"></div>
        <div class="basic-list-item">
            <div class="name">Monthly Task</div>
            <img class="gray-arrow" src="https://i.imgur.com/z9zRluf.png">
        </div>
        <div class="right-thin-line"></div>
        <div class="basic-list-item">
            <div class="name">Settings</div>
            <img class="gray-arrow" src="https://i.imgur.com/z9zRluf.png">
        </div>
        <div class="right-thin-line"></div>
    </div>
</div>
