<div class="page page-map" id="page-map">
    <div class="nav-bar nav-bar-map padding25" id="nav-bar-map">
        <div class="row first-row">
            <img class="icon back-icon" id="map-back" src="../resource/back.svg"/>
            <h3 class="title page-title" id="page-title">Find in shop</h3>
            <img class="icon close-icon" id="map-close" src="../resource/close.svg"/>
        </div>

        <div class="fixed-part" id="fixed-part">
            <div class="row input-row">
                <input class="search-input text-input" id="category" name="name" placeholder="Type the product you want to search"/>
                <img class="icon search-icon" id="search-button" src="../resource/search.svg"/>
            </div>
        </div>
    </div>

    <div class="map-image">
        <img class="icon map-icon" id="imgId" src="https://i.imgur.com/hQqjqJT.png"/>
    </div>

    <div class="bottom-nav-bar" id="start-navigation-container">
        <a id="start-navigation">Start Navigation</a>
    </div>

</div>
