<div class="page page-product-video" id="page-product-video">
    <div class="common-nav padding25">
        <div class="left">
            <div class="back-btn-container" id="back-btn-container">
                <img src="../resource/back.svg" />
            </div>
            <h3 class="title" id="nav-title"></h3>
        </div>
        <div class="right">
            <div class="close-btn-container" id="close-btn-container">
                <img src="../resource/close.svg" />
            </div>
        </div>
    </div>
    <div class="section section-basic padding25">
        <h1 class="video-name" id="video-name"></h1>
        <div class="video-location" id="video-location"></div>
        <div class="section">
            <h2 class="section-title">Video on the Produce Day</h2>
            <div class="video-img-container">
                <img src="" class="video-img" id="video-img">
                <img class="play-button" src="../resource/play.svg" />
            </div>

        </div>
        <div class="section">
            <h2 class="section-title"> Live Video </h2>
            <div class="video-img-container">

                <img src="" class="video-img" id="live-video-img">
                <img class="play-button" src="../resource/play.svg" />

            </div>

        </div>
    </div>

</div>
