<div class="page page-product-detail" id="page-product-detail">
    <div class="common-nav">
        <div class="back-btn-container">
            <img src="../resource/back.svg"/>
        </div>
        <div class="title" id="nav-title"></div>
        <div class="close-btn-container">
            <img src="../resource/close.svg"/>
        </div>
    </div>
    <div class="section-basic">
        <div class="product-img-container" id="product-img-container"></div>
        <div class="product-name" id="product-name"></div>
        <div class="product-desc" id="product-desc"></div>
        <div class="price" id="price"></div>
        <div class="rate-row">
        </div>
    </div>
</div>
