
<div class="page page-shop-detail">
    <div class="common-nav padding25">
        <div class="left">
            <div class="back-btn-container" id="back-btn-container">
                <img src="../resource/back.svg"/>
            </div>
            <h3 class="title" id="nav-title"></h3>
        </div>
    </div>
    <img src="https://i.loli.net/2019/12/02/z4MmVBPedKHhkRs.jpg" id="scan-detail-background">
    <div>
        <img src="../resource/scan-box.svg" id="scan-detail-box">
    </div>
</div>
