<div class="page page-search-result">

    <div class="common-nav padding25">
        <div class="left">
            <div class="back-btn-container" id="back-btn-container">
                <img src="../resource/back.svg"/>
            </div>
        </div>
    </div>

    <div class="content" id="home-content">
        <div class="section section-shop padding25" id="section-shop">
            <div class="section-header">
                <h2>Shop</h2>
            </div>
            <div class="section-content shop-list" id="shop-list">
            </div>
        </div>
        <div class="section section-event padding25" id="section-event">
            <div class="section-header">
                <h2>Event</h2>
            </div>
            <div class="section-content event-list" id="event-list">
            </div>
        </div>
        <div class="section section-product padding25" id="section-product">
            <div class="section-header">
                <h2>Recommend</h2>
            </div>
            <div class="section-content product-list" id="product-list">
            </div>
        </div>
    </div>

</div>