<div class="page page-shop" id="page-shop">
    <div class="nav-bar nav-bar-shop padding25" id="nav-bar-shop">
            <h1 class="title page-title" id="page-title">Shop</h1>
            <div class="fixed-part" id="fixed-part">
                <div class="row input-row">
                    <input class="search-input text-input" id="search-input" placeholder="Costco"/>
                    <img class="icon search-icon" id="search-icon" src="../resource/search.svg"/>
                </div>
            </div>
    </div>
    <div class="shop-map" id="shop-map">
        <img src="https://i.imgur.com/WbnWuwu.png"/>
    </div>
    <div class="section-content shop-list padding25" id="shop-list"></div>
</div>
