<div class="page page-shop-detail">
    <div class="common-nav padding25">
        <div class="left">
            <div class="back-btn-container" id="back-btn-container">
                <img src="../resource/back.svg"/>
            </div>
            <h3 class="title" id="nav-title"></h3>
        </div>
        <div class="right">
            <img src="../resource/search.svg" id="seach-icon"/>
            <img src="../resource/qrcode.svg" id="qrcode-icon"/>
        </div>
    </div>
    <div class="section section-basic">
        <div class="shop-img-container" id="shop-img-container"></div>
        <div class="info-container padding25">
            <h3 class="shop-name" id="shop-name"></h3>
            <div class="row">
                <img class="rate-img" id="rate-img"/>
                <div class="score" id="score"></div>
            </div>
            <div class="row">
                <div class="time" id="time"></div>
            </div>
            <div class="row address-row">
                <div class="address" id="address"></div>
                <div class="distance" id="distance"></div>
            </div>
        </div>
    </div>
    <!--    <div class="nav-bar nav-bar-shop-detail padding25" id="nav-bar-shop-detail">-->
    <!--        <div class="fixed-part" id="fixed-part">-->
    <!--            <div class="nav-tab" id="nav-tab">-->
    <!--                <div class="tab-item active" id="tab-event">-->
    <!--                    Event-->
    <!--                </div>-->
    <!--                <div class="tab-item" id="tab-category">-->
    <!--                    Category-->
    <!--                </div>-->
    <!--                <div class="tab-item" id="tab-map">-->
    <!--                    Map-->
    <!--                </div>-->
    <!--                <div class="tab-item" id="tab-recommend">-->
    <!--                    Recommend-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="scroll-content" id="scroll-content">
        <div class="section section-event padding25" id="section-event">
            <div class="section-header">
                <h2>Event</h2>
                <div class="see-all-btn">see all</div>
            </div>
            <div class="section-content event-list" id="event-list">
            </div>
        </div>
        <div class="section section-category" id="section-category">
            <div class="section-header padding25">
                <h2>Category</h2>
                <div class="see-all-btn">see all</div>
            </div>
            <div class="section-content category" id="category"></div>
            <h3 class="more-category-text" id="more-category-text">More Category</h3>
        </div>

        <div class="section section-map padding25" id="section-map">
            <div class="section-header">
                <h2>Map</h2>
            </div>
            <div class="map-container" id="map-container">
                <h3 class="hint-text">Click to start In-Store Navigation</h3>
            </div>
        </div>

        <div class="section section-recommend padding25">
            <h2 class="section-title">Recommend</h2>
            <div class="content recommend-list product-list" id="recommend-list">
            </div>
        </div>
    </div>
</div>
