<div class="page page-shop" id="page-shop">
    <div class="nav-bar nav-bar-shop padding25" id="nav-bar-shop">
            <h1 class="title page-title" id="page-title">Shop</h1>
            <div class="fixed-part" id="fixed-part">
                <div class="row input-row">
                    <input class="search-input text-input" id="search-input" placeholder="Costco"/>
                    <img class="icon search-icon" src="../resource/search.svg"/>
                </div>
            </div>
    </div>
    <div class="content" id="shop-content">
        <div class="section-content shop-map" id="shop-map">
            <img src="../resource/png/shop-map.png" style="width:100%; padding-top: 13px;"/>
        </div>
        <div class="color-lump">
            
        </div>
        <div class="section-content shop-list" id="shop-list">

        </div>
    </div>
</div>